{% extends "base.html" %}

{% block content %}
<br>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">Races</button>
    <ul class="dropdown-menu">
        {% for object in races %}
        <li><a class="dropdown-item" href="{% url 'djangogp:race_detail' object.id %}">{{ object.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<br>
<h1>{{ race.name }}</h1>
<span>{{ race.city }} , {{ race.date }}</span>
<span>{{ race.temperature }}º C</span>
<span>{{ race.weather }}</span>
<span>Track condition: {{ race.trackCondition }}</span>
<span>Humidity: {{ race.humidity }}%</span>
<span>Ground: {{ race.groundTemperature }}º</span>
<br>
<table>
    <th>Position</th>
    <th>Points</th>
    <th>Rider</th>
    <th>Nation</th>
    <th>Team</th>
    <th>Bike</th>
    {% for object in results %}
    <tr>
        <td>{{ object.position }}</td>
        <td>{{ object.points }}</td>
        <td><a href="{% url 'djangogp:rider_detail' object.rider.id %}">{{ object.rider.name }}</a></td>
        <td>{{ object.rider.country }}</td>
        <td>{{ object.rider.team }}</td>
        <td>{{ object.rider.bike }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}