{% extends "base.html" %}

{% block content %}
<h1>Races</h1>
<table>
    <th>Name</th>
    <th>City</th>
    <th>Date</th>
    <th>Temperature</th>
    <th>Weather</th>
    <th>Track condition</th>
    <th>Humidity</th>
    <th>Ground temperature</th>
    {% for object in object_list %}
    <tr>
        <td><a href="{% url 'djangogp:race_detail' object.id %}">{{ object.name }}</a></td>
        <td>{{ object.city }}</td>
        <td>{{ object.date }}</td>
        <td>{{ object.temperature }}</td>
        <td>{{ object.weather }}</td>
        <td>{{ object.trackCondition }}</td>
        <td>{{ object.humidity }}</td>
        <td>{{ object.groundTemperature }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}