{% extends "base.html" %}

{% block content %}
<h1>Riders</h1>
<table>
    <th>Country</th>
    <th>Name</th>
    <th>Team</th>
    {% for object in object_list %}
    <tr>
        <td>{{ object.country }}</td>
        <td><a href="{% url 'djangogp:rider_detail' object.id %}">{{ object.name }}</a></td>
        <td>{{ object.team }}</td>
        <td><a href="{% url 'djangogp:rider_update' object.id %}">Update</a></td>
        <td><a href="{% url 'djangogp:rider_delete' object.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}