{% extends "base.html" %}

{% block content %}
<h1>Riders</h1>
<table>
    <th>Name</th>
    <th>Country</th>
    <th>Team</th>
    <th>Bike</th>
    <th>Date of birth</th>
    <th>Place of birth</th>
    <th>Height</th>
    <th>Weight</th>
    {% for object in object_list %}
    <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.country }}</td>
        <td>{{ object.team }}</td>
        <td>{{ object.bike }}</td>
        <td>{{ object.dateOfBirth }}</td>
        <td>{{ object.placeOfBirth }}</td>
        <td>{{ object.height }}</td>
        <td>{{ object.weight }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}